.project-card-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.614);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  margin: 0 auto;
  overflow: hidden;
  cursor: auto;
  .container {
    padding: 5rem;
    display: block;
    position: fixed;
    text-align: justify;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-55%);
    top: 10%;
    .content {
      width: 50ch;
      max-height: 30ch;
      scrollbar-width: none;
      overflow-y: auto;
      overflow-x: hidden;
      animation: fade-in 0.5s;
      @keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      &::-webkit-scrollbar {
        display: none;
      }
      img {
        float: right;
      }
      button {
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 1rem;
        margin-top: 1rem;
      }
      ul {
        width: 90%;
        display: inline-block;
        padding: 0.5rem;
        column-count: 2;
        li {
          font-size: 1rem;
          list-style: none;
        }
        .circle {
          display: inline-block;
          height: 8px;
          width: 8px;
          border-radius: 50%;
        }
      }
      .progress-bar {
        width: 90%;
        font-size: 0;
        border-radius: 10px;
        overflow: hidden;
        span {
          display: inline-block;
          height: 10px;
        }
      }
      #python {
        background-color: rgb(53, 114, 165);
      }

      #javascript {
        background-color: rgb(241, 224, 90);
      }

      #css {
        background-color: rgb(86, 61, 124);
      }

      #html {
        background-color: rgb(227, 76, 38);
      }

      #scss {
        background-color: rgb(198, 83, 140);
      }

      #batchfile {
        background-color: rgb(193, 241, 46);
      }
    }
  }
}
