// fonts
$font-stack: Montserrat, sans-serif;
// colors
$primary-color: black;
$primary-light: rgb(233, 232, 231);
$background-color: #2e5266ff;
$section-background: #6e8898ff;
$content-background: #9fb1bcff;
$submit-button: #e2c044ff;
$content-color: white;
// media queries
$mobile: 700px;
