:root {
  --primary-font: "Montserrat", sans-serif;
  --blue-sapphire: #2e5266ff;
  --light-slate-gray: #6e8898ff;
  --cadet-grey: #9fb1bcff;
  --timberwolf: rgb(233, 232, 231);
  --maize-crayola: #e2c044ff;
}

* {
  margin: 0;
  /* outline: solid; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2 {
  line-height: 1.1;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 1.2rem;
}

body {
  font-family: var(--primary-font);
  font-size: 1.3rem;
  line-height: 1.6;
  width: 100%;
  background-color: var(--blue-sapphire);
  color: var(--timberwolf);
}

.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1.4rem;
  z-index: 999;
}

textarea {
  resize: none;
}

/* navbar */
.hamburger-menu {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 99;
}

.hamburger-menu img {
  width: 1.5rem;
}

.navbar-inline a {
  text-decoration: none;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 98;
  padding-top: 5rem;
}

.navbar.closed {
  display: none;
}

.navbar.open {
  display: block;
}

.navbar a {
  text-decoration: none;
  color: var(--light-slate-gray);
  background-color: beige;
  font-size: 3rem;
}

.navbar a:hover {
  color: var(--cadet-grey);
}

.navbar ul {
  list-style: none;
  padding: 0%;
}

.navbar li {
  text-align: center;
  padding: 0.1em;
}

/* LANGUAGE SWICTCH */
.language-switch {
  padding: 0.6em;
  text-align: right;
  width: 90%;
  margin: 0 auto;
  z-index: 9;
}

input[type="radio"] {
  opacity: 0;
  /* transform: scale(0); */
  margin: -0.2em;
}

.language-switch label {
  background-color: red;
  border-radius: 50%;
  padding: 0.6em;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color: green;
}

/* HEADER */
.greeting-header {
  text-align: center;
  align-content: center;
}

.greeting-header h1 + p {
  width: 90%;
  margin: auto;
}

.greeting-header p {
  padding: 0em 0.7em 0em 0.7em;
}

/* when setting max-width, text moves to one side */
/* .greeting-header h1 {
  padding: 0.8rem;
  margin: 0 auto;
} */

/* ALL CONTENT SECTIONS */
.about-me-container-content,
.project-card,
.contact-me-container form,
.modal-card div {
  border-radius: 1.5em;
  background-color: var(--maize-crayola);
  color: black;
  margin-top: 1rem !important;
}

/* ABOUT ME */
.about-me-container {
  box-sizing: border-box;
}

.about-me-container-content {
  color: black;
  display: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 90%;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0.5rem;
}

.about-me-container p {
  max-width: 56ch;
  padding-top: 1rem;
}

.about-me-container img {
  padding: 0.275em 0em;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  filter: drop-shadow(0 0 0.7rem);
  float: right;
}

.contact-links {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
  text-align: right;
}

/* MY PROJECTS SECTION */
.my-projects-container {
  text-align: center;
}

.project-cards {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 1rem;
}

.project-card {
  width: 90%;
  padding: 0.5rem;
  cursor: pointer;
  margin: 1rem 0rem 0rem 0rem;
}

.modal-card {
  display: none;
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-card div {
  width: 90%;
  height: 80%;
  background-color: white;
  overflow: auto;
  margin: auto;
  margin-top: 2rem;
  background-color: var(--maize-crayola);
}

/* CONTACT ME CONTAINER */
.contact-me-container {
  margin: 0 auto;
  width: 90%;
}

form legend {
  padding: 0.5em;
}

.contact-me-container form {
  display: grid;
  background-color: var(--maize-crayola);
  color: black;
}

.contact-me-container label,
input,
textarea {
  margin: 0 0.5rem;
}

input,
textarea {
  background-color: var(--timberwolf);
  border: 0;
  outline: solid 0.1em;
}

textarea {
  outline:solid 0.1em
}

.submit-btn {
  font-size: 1.3rem;
  margin: 0 auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5rem;
  width: 95%;
  background-color: var(--light-slate-gray);
  border-radius: 1em;
  border: 0;
  outline: 0;
  color: var(--timberwolf)
}

/* footer */
footer {
  padding: 2em;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .about-me-container-content {
    display: flex;
  }
  .about-me-container img {
    float: none;
  }
  .project-card {
    width: 30%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contact-me-container {
    width: 50ch;
  }
}
