@use "./vars" as v;
// dynamic classes and ids
#closed {
  display: none;
}
#open {
  display: block;
}
.closed {
  display: none;
}
.open {
  display: block;
}

// general styling
* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  scroll-behavior: smooth;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  font: 100% v.$font-stack;
  color: v.$primary-light;
  background-color: v.$background-color;
  white-space: break-spaces;
  h1 {
    line-height: 2.5;
  }
  h2 {
    line-height: 2;
  }
  h2,
  h3,
  p {
    margin-bottom: 0.5rem;
  }
}

section {
  width: 90%;
  max-width: 90ch;
  margin: 2rem auto;
  text-align: center;
  background-color: v.$section-background;
}

a{
  text-decoration: none;
  color: inherit
}

button {
  cursor: pointer;
}

section,
form,
.content,
.project-card,
button,
.wrapper {
  border: v.$primary-light solid 2px;
  border-radius: 2rem;
  padding: 1rem;
}

form,
.content,
.project-card,
.gallery {
  background-color: v.$content-background;
  color: v.$content-color;
}
