// fonts
$font-stack: Montserrat, sans-serif;

// TODO: play around a bit so it has more contrast
// colors
$primary-color: black;
$primary-light: rgb(233, 232, 231);
$background-color: #2e5266ff;
$section-background: #6e8898ff;
$content-background: #9fb1bcff;
$submit-button: #e2c044ff;
$content-color: white;

// dynamic classes and ids
#closed {
  display: none;
}
#open {
  display: block;
}
.closed {
  display: none;
}
.open {
  display: block;
}

// media queries
$mobile: 700px;

// general styling
* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  scroll-behavior: smooth;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  font: 100% $font-stack;
  color: $primary-light;
  background-color: $background-color;
  white-space: break-spaces;
  h1 {
    line-height: 2.5;
  }
  h2 {
    line-height: 2;
  }
  h2,
  h3,
  p {
    margin-bottom: 0.5rem;
  }
}

section {
  width: 90%;
  max-width: 90ch;
  margin: 2rem auto;
  text-align: center;
  background-color: $section-background;
}

button {
  cursor: pointer;
}

section,
form,
.content,
.project-card,
button,
.wrapper {
  border: $primary-light solid 2px;
  border-radius: 2rem;
  padding: 1rem;
  // try drop-shadow for fun
  // filter: drop-shadow(0 0 0.15rem)
}

form,
.content,
.project-card,
.gallery {
  background-color: $content-background;
  color: $content-color;
}