:root {
  --primary-font: "Montserrat", sans-serif;
}

* {
  margin: 0;
  outline: solid;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  line-height: 1.1;
  text-align: center;
  margin-bottom: 0.2rem;
}

body {
  font-family: var(--primary-font);
  font-size: 1.3rem;
  line-height: 1.6;
  width: 100%;
}

.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1.4rem;
  z-index: 999;
}

textarea {
  resize: none;
}

/* navbar */
.hamburger-menu {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 99;
}

.hamburger-menu img {
  width: 2rem;
}

.navbar-inline {
  margin: 0 auto;
  width: 90%
}

.navbar-inline ul {
  display: flex;
  /* text-align: center; */
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-inline a {
  text-decoration: none;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 98;
  padding-top: 5rem;
}

.navbar.closed {
  display: none;
}

.navbar.open {
  display: block;
}

.navbar a {
  text-decoration: none;
  color: var(--rich-black);
  font-size: 3rem;
  color: var(--baby-powder);
}

.navbar a:hover {
  color: var(--sage);
}

.navbar ul {
  list-style: none;
  padding: 0%;
}

.navbar li {
  text-align: center;
  padding: 0.1em;
}

/* LANGUAGE SWICTCH */
.language-switch {
  padding: 0.6em;
  text-align: right;
  width:90%;
  margin: 0 auto;
  /* float: right;*/
  /* margin-right: 4rem; */
  z-index: 9;
}

input[type="radio"] {
  opacity: 0;
  transform: scale(0);
}

.language-switch label {
  background-color: red;
  border-radius: 50%;
  padding: 0.6em;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color: green;
}

/* HEADER */
.greeting-header {
  text-align: center;
  align-content: center;
}

.greeting-header h1 + p {
  width: 90%;
  margin: auto;
}

.greeting-header p {
  color: var(--sage);
  padding: 0em 0.7em 1em 0.7em;
}

/* when setting max-width, text moves to one side */
.greeting-header h1 {
  padding: 0.8rem;
  margin: 0 auto;
}

/* ABOUT ME */
.about-me-container {
  background-color: var(--indigo-dye-2);
  color: var(--baby-powder);
  box-sizing: border-box;
}

.about-me-container-content {
  display: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 90%;
  justify-content: space-around;
  margin: 0 auto;
}

.about-me-container h4 {
  color: var(--baby-powder);
}

.about-me-container p {
  color: var(--sage);
  max-width: 56ch;
  padding-top: 1rem;
}

.about-me-container img {
  padding: 0.275em 0em;
  border-radius: 50%;
  width: 30%;
  height: auto;
  border-color: var(--baby-powder);
  filter: drop-shadow(0 0 1rem);
  /* border: solid 0.1em; */
  /* margin: auto; */
  float: right;
}

.contact-links {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
  text-align: right;
}

/* MY PROJECTS SECTION */
.my-projects-container {
  background-color: var(--celadon-blue);
  color: var(--baby-powder);
  text-align: center;
}

.project-cards {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-card {
  width: 90%;
  padding: 0.5rem;
  cursor: pointer;
}

.modal-card {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 9999999; /* Sit on top */
  left: 0;
  top: 0%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-card div {
  width: 90%;
  height: 80%;
  background-color: white;
  overflow: auto;
  margin: auto;
  margin-top: 2rem;
}

/* CONTACT ME CONTAINER */
.contact-me-container {
  margin: 0 auto;
  /* padding: 0 2rem; */
  width: 90%;
}

.contact-me-container form {
  display: grid;
}

.contact-me-container label,
input,
textarea {
  margin: 0 0.5em;
}

.submit-btn {
  margin: 0.5em;
  padding: 0.5rem;
}

/* footer */
footer {
  padding: 2em;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .about-me-container-content {
    display: flex;
  }
  .about-me-container img {
    float: none;
  }
  .project-card {
    width: 30%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contact-me-container {
    width: 50ch;
  }
}
